.modal {
  position: fixed;
  top: -55px;
  right: -510px;
  bottom: 0;
  left: 0;
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modal h2{
  margin: 10px 0;
  text-align: center;
}
.modal p{
  margin: 3px 0;
}
.modal input{
  margin-bottom: 10px;
}
.modal button{
  margin-top: 10px;
  width: 100px; height: 30px;
  margin-left: 100px;
}
.modal:target {
  opacity: 1;
  pointer-events: auto;
}
.modal > div {
  width: 300px; height: 200px;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: #457B9D;
  color: #F1FAEE;
  display: flex;
  flex-direction: column;
}
.fechar {
  position: absolute;
  width: 30px;
  right: -15px;
  top: -20px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #fa3030;
  border-radius: 50%;
  font-size: 14px;
  color: #8d0000;
  text-decoration: none;
}
