.produtos-pesquisa{
  margin-top: 70px;
  width: 900px;
  display: flex;
  word-break: normal;
}
.pagina-produtos h2{
  text-align: center;
  height: 30px;
  margin-top: 30px;
  color: #333333;
}
.pagina-produtos{
  background-color: #fafafa;
}
hr{
  color: #333333;
}