.produtos-vendidos{
  height: 500px;
  background-color: #fafafa;
  padding-top: 70px;
}
.produtos-vendidos h2{
  text-align: center;
  margin: 0;
  font-size: 2rem;
  color: #333333;
}
.lista-produtos{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  align-items: center;
}